 <div class="div_about">
     <h3>About the App</h3>
 <p>The Tv show App is a web app that displays popular, onAir and present Shows. The App fetches data from an external Api(TMDB website) and displays it. The App is built with HTML, CSS and NodeJs(Ejs as the template engine). </p>

</div>

<div class="div_links">
<h3>Quick Links</h3>
<ul>
    <li><a href="">Airing Today</a></li>
    <li><a href="">Popular Show</a></li>
    <li><a href="">OnAir Show</a></li>
</ul>
</div>

<div class="div_contacts">
    <h3>Contacts</h3>
    <ul>
        <li>Phone No: +234 8131880839</li>
        <li>Email: onyebuekes93@gmail.com</li>
    </ul>
</div>