<nav>
    <div class="clock">
        <p class="getClock"></p>
    </div>

    <div class="marque">
        <marquee behavior="" direction="">A Movie show App that displays recent tv shows </marquee>
    </div>

    <div class="shows" id="drop">
        <button class="airToday">Airing Today</button>
        <button class="onAir"> OnAir </button>
        <button class="popular">Popular Show</button>
    </div>

    <!-- <a href="" class="icon">
        <i class="fa fa-bars"></i>
    </a> -->
    
</nav>