<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<nav>
  <%- include('../partials/nav'); %>
</nav>

<section id="main">

  <div class="movie">
    
      
    <img src="img/acura.jpg" alt="images">
    
    <div class="movie-info">
      <h3>Spark</h3>
      <span class="green">5</span>
    </div>

    <div class="overview">
      <h3>overview</h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptatum maiores, eum optio mollitia voluptates veritatis voluptas delectus.
    </div>
  
  </div>

  <div class="movie">
    
      
    <img src="img/acura.jpg" alt="images">
    
    <div class="movie-info">
      <h3>Spark</h3>
      <span class="green">5</span>
    </div>

    <div class="overview">
      <h3>overview</h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptatum maiores, eum optio mollitia voluptates veritatis voluptas delectus.
    </div>
  
  </div>

  <div class="movie">
    
      
    <img src="img/acura.jpg" alt="images">
    
    <div class="movie-info">
      <h3>Spark</h3>
      <span class="green">6</span>
    </div>

    <div class="overview">
      <h3>overview</h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptatum maiores, eum optio mollitia voluptates veritatis voluptas delectus.
    </div>
  
  </div>

</section>
  
<footer>
  <%- include('../partials/footer'); %>
</footer>
<script src="/js/app.js"></script>
</body>
</html>